.contacts-profile-container {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  margin-left: 40%;
  margin-right: 40%;

  mat-form-field {
    width: 100%;
  }

  mat-card-header,
  mat-card-actions {
    display: flex;
    justify-content: center;
  }
}
